<html>
<head>
  <script src="assets/jquery-1.9.1.min.js"></script>
  <script src="assets/kendo.web.min.js"></script>


  <link href="assets/kendo.common.min.css" type="text/css" rel="stylesheet">
  <link href="assets/kendo.default.min.css" type="text/css" rel="stylesheet">
  <script>
      $(function(){

      })
  </script>
</head>
<body>

</body>
</html>